<h2>Find a launderer</h2>

<ul class="launderers">
  {{#each launderers}}
    <li class="launderer">
      <h3 class="underline">{{this.name}}</h3>
      <p> Fee: ${{this.fee}} </p>
      <a  class="btnA gold" href="/laundry/launderers/{{this._id}}">Schedule a Pickup</a>
    </li>
  {{/each}}
</ul>

<a class="btnA bottom" href="/laundry/dashboard">Back to Dashboard</a>
