<h2>Launderer Profile</h2>

<h3 class="underline">{{launderer.name}}</h3>

<p>Fee: <b>${{launderer.fee}}</b></p>

<br>
<h4>Schedule a Pickup With <i>{{launderer.name}}</i></h4>

<form action="/laundry/laundry-pickups" method="post">
  <div>
    <label for="pickup-date-input">When would you like your laundry picked up?</label>
    <input type="date" name="pickupDate" id="pickup-date-input">
  </div>
  <input type="hidden" name="laundererId" value="{{launderer._id}}">
  <button class="addBut"> Schedule This Pickup </button>
</form>

<a class="btnA bottom" href="/laundry/launderers">Find Another Launderer</a>
