<!-- views/laundry/dashboard.ejs -->
<h2> Your laundry Dashboard </h2>

<ul>
  <li> <a href="/launderers"> Find a Launderer </a> </li>
  <li> <a href="/logout"> Log Out </a> </li>
</ul>


<% if (currentUserInfo.isLaunderer) { %>
  <h3> You are a launderer </h3>

  <p>
    Your laundering fee is
    <b>$<%= currentUserInfo.fee %>.</b>
  </p>
<% } else { %>
  <h3> Want to become a launderer? </h3>

  <form action="/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input">
    </div>

    <button> Become a Launderer </button>
  </form>
<% } %>
