
<p> Welcome to {{ title }}. </p>

{{#if user  }}
  <p> Hello, {{ user.name }}. </p>
{{/if}}

<nav>
  <ul>
    {{#if user }}
     <li> <a href="/launderers"> Find a Launderer </a> </li>
      <li> <a href="/dashboard"> See Dashboard </a> </li>
      <li> <a href="/auth/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/auth/signup"> Sign Up </a> </li>
      <li> <a href="/auth/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>