<div class="welcome">
  <p>Welcome to Uber for Laundry, where you can schedule a pickup for someone to do your laundry.</p>
  <p>You can even register yourself as a Laundrer to make the pickups and get some money extra</p>
</div>