<p>Welcome to {{title}}</p>

<nav>
  <ul>
    {{#unless user}}
    <li> <a href="/signup"> Sign Up </a> </li> <br>
    <li> <a href="/login"> Log In </a> </li> <br>
    {{/unless}}

    <li> <a href="/launderers"> Find a Launderer </a> </li> <br>
    <li> <a href="/dashboard"> See Dashboard </a> </li> <br>

    {{#if user}}
    <li> <a href="/logout"> Log Out </a> </li> <br>
    {{/if}}
  </ul>
</nav>
