<h2>Log in</h2>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/auth/login" method="post">
<label for="email">Email: </label>
<input type="email" placeholder="email" name="username">
<br><br>
<label for="email">Password: </label>
<input type="password" name="password" placeholder="password">
<br><br>
<button type="submit">Log in</button>
</form>
<br><br>
<p>Not registered?</p>
<a href="/auth/signup">Sign up</a>


