<h2> Log In </h2>

<form action="/auth/login" method="post">
  <div>
    <label for="NAME-input"> Name </label>
    <input type="text" name="username" id="name-input"
      placeholder="e.g., xena warrior">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="e.g., ••••••••••••" readonly onfocus="if (this.hasAttribute('readonly')) {
      this.removeAttribute('readonly');
      this.blur(); this.focus();}"/>
  </div>

  {{#each messages}}
    <div class="error-message">{{this}}</div>
  {{/each}}

  <button class="loginBut"> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/auth/signup">
    Create an account.
  </a>
</p>
