<h2> Sign Up </h2>


<form action="/auth/signup" method="post">
  <div>
    <label for="name-input"> Name </label>
    <input type="text" name="name" id="name-input"
      placeholder="e.g., Diana Prince">
  </div>

  <div>
    <label for="email-input"> Email </label>
    <input type="email" name="email" id="email-input"
      placeholder="e.g., diana@themyscira.agency">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="e.g., ••••••••••••" readonly onfocus="if (this.hasAttribute('readonly')) {
      this.removeAttribute('readonly');
      this.blur(); this.focus();}"/>
  </div>

  <button class="signupBut"> Create New Account </button>
  {{#each messages}}
    <div class="error-message">{{this}}</div>
  {{/each}}
</form>

<p>
  Already have an account?
  <a href="/auth/login">
    Log in.
  </a>
</p>
