<h2>Sign up</h2>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/auth/signup" method="post">
<label for="email">Email: </label>
<input type="email" placeholder="email" name="email">
<br><br>
<label for="password">Password: </label>
<input type="password" name="password" placeholder="password">
<br><br>
<label for="name">Name: </label>
<input type="text" name="name" placeholder="name">
<br><br>
<button type="submit">Sing up</button>
</form>
<br><br>
<p>Already registered?</p>
<a href="/auth/login">Log in</a>